@use "./variable.scss" as variable;
.container {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  padding: 0 1%;
  background-color: #fff;
  width: 18%;
  .logo {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  li {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1rem;
    height: 2rem;
    transition: 0.5s;

    &:hover {
      padding-left: 1rem;
      background-color: #fff;
      transition: 0.5s;
    }
  }
  .active {
    color: variable.$light;
    background-color: variable.$primary;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    &:hover {
      padding-left: 8px;
      box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
      background-color: variable.$primary;
    }
  }
}
.main-content {
  width: 75%;
  padding: 2% 2%;
}

.header {
  width: 100%;
  text-align: center;
  h1 {
    color: rgb(2, 2, 41);
  }
  p {
    font-weight: bold;
  }
}
