:root {
  --primary: #ff66c4;
  --secondry: grey;
  --danger: red;
  --warning: yellow;
  --dark: black;
  --success: green;
  --light: white;
}

.dark-theme {
  --primary: #ff66c4;
  --secondry: white;
  --danger: red;
  --warning: yellow;
  --dark: black;
  --success: green;
  --light: grey;
}
