@use "../../assets/style/variable.scss" as variable;
.header {
  width: 40%;
  h1 {
    color: var(--primary);
    margin-bottom: 28px;
    text-align: center;
  }
  p {
    font-weight: 300;
    text-align: left;
    font-size: 18px;
    line-height: 1.5rem;
  }
  ul {
    margin-top: 20px;
    list-style: none;
    text-align: left;
    li {
      margin-top: 10px;
    }
  }
  span {
    font-weight: 700;
  }
  .btn-header {
    margin-top: 100px;
  }
}

.wrapper-button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper-hero {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.stack {
  background-color: var(--primary);
  padding: 10px 15%;
  text-align: center;
  border-radius: 30px;
  color: var(--light);
  font-weight: 700;
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.2);
}
.container-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.one-line {
  display: flex;
  gap: 15px;
}
.contributors {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
.contributors-item {
  position: relative;
  height: 130px;
  width: 300px;

  .photo {
    position: relative;
    img {
      position: absolute;
      top: -50px;
      left: 100px;
    }
  }
  h4 {
    margin-top: 50px;
    margin-bottom: 12px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
.center {
  margin-top: 10px;
  justify-content: center;
}
.image-carousel {
  width: 100%;
  height: 100%;
  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
// .image {
//   width: 100px;
//   object-fit: cover;
// }

.contributor {
  padding: 0 5%;
  margin-top: 40px;
  div {
    margin-top: 10px;
  }
}
.image {
  width: 80%;
}

@media only screen and (max-width: 769px) {
  .one-line {
    display: flex;
    flex-direction: column;
  }
  .header,
  .wrapper-hero {
    width: 100%;
  }
  .contributors {
    overflow: scroll;
  }
}
