

.header {
  width: 100%;
  text-align: center;
  h1 {
    color: rgb(2, 2, 41);
  }
  p {
    font-weight: bold;
  }
}

.wrapper-button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  gap: 15px;
}

.center {
  margin-top: 10px;
  justify-content: center;
}

.image {
  width: 80%;
}

.contributor {
    
    padding: 0 5%;
    margin-top: 40px;
    div{
        margin-top: 10px;
    }

}
.image {
  width: 80%;
}
